
<table id="t_historial2" name= "t_historial2" class='table table-striped table-hover table-bordered'>
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Destinatario</th>
        <th>Asunto</th>
        <th>Mensaje</th>
    </tr>
</head>
<tbody>
    {% for m in datas %}
    <tr>
        <td>{{ m['fecha'] }}</td>
        <td>{{ m['hora'] }}</td>
        <td>{{ m['nombreusuario'] }}</td>
        <td>{{ m['asunto'] }}</td>
        <td>{{ m['mensaje'] }}</td>
    </tr>
    
    {% endfor %}

    
</tbody>
</table>